#block
{
    height: 6.25rem;
    width: 6.25rem;
    background-color: red;
    position: absolute;
    z-index: 3;
    padding: 1rem;
}

#gallery-control-wrap {
    position: absolute;
}

.n
{
    position: absolute;
    top: 6.25rem;
    

    img 
    {
        display: none;    
    }
}

.n1
{
    top: 13rem;
}

.n2
{
    top: 19.25rem;
}

.n3
{
    top:25.5rem;
}

.n4
{
    top: 31.75rem;
}

.n5
{
    top: 38rem;
}

.n6
{
    top: 44.25rem;
}

.n7
{
    top: 50.5rem;
}

.n8
{
    top: 56.75rem;
}
