.project-content
{
    z-index: 2;
    position: absolute;
    width: 100vw;
    height: 100vh;
    left: 0;
    overflow: hidden;
    color: #fff;
    font-family: corporate-a-std-urw-cond, serif;
    font-weight: 500;
    font-style: normal;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
}